@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;  /* 40rem */
  --breakpoint-md: 768px;  /* 48rem */
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --color-arche-green: #58bcc1;
  --color-arche-blue:  #3b89ad;
  --color-arche-gray:  #5b595b;
  --color-arche-red:   #dc3545;
  --color-arche-new-blue: #88dbdf
}

:root { --asset-root: ""; }         /* override to "/browser" in prod if needed */


body {
  color: var(--Grey, #5B595B);

  /* Paragraph */
  font-family: 'Lato', 'Roboto', 'Helvetica Neue', Arial, sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  
}

a {
  color: #4F8CA5;
}
a:hover {
  text-decoration: none;
}


.section-header-title-small {
  color: #069 !important;
  text-align: center;
  /* Paragraph Bold */
  font-family: Lato !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 28px !important;
  /* 175% */
}
.section-header-title {
  color: #333 !important;
  text-align: center;
  /* h2 Bold */
  font-family: Lato !important;
  font-size: 32px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}



h4 {
	
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

  h5 {
	color: #333;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h6 {
  color: 212529;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p, span {
	color: #666;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	word-wrap: break-word;
}
footer a {
  color: white;
}

input {
  border: 1px solid #e1e1e1;
  padding: 10px;
}
.placeholder {
  background-color: transparent;
}

/* WebKit browsers (Chrome, Safari, Opera) */
input::placeholder {
  opacity: 0.3;
  /* Ensures full opacity */
}
/* Mozilla Firefox */
input::-moz-placeholder {
  opacity: 0.3;
  /* Ensures full opacity */
}
/* Internet Explorer 10-11 */
input:-ms-input-placeholder {
  opacity: 0.3;
  /* Ensures full opacity */
}
/* Microsoft Edge */
input::-ms-input-placeholder {
  opacity: 0.3;
  /* Ensures full opacity */
}
.form-control::placeholder {
  opacity: 0.3;
}

.arche-footer-cta {
	padding: 24px;
	border-radius: 12px;
	border: 2px solid #e1edf3;
	background: #FFF;
	top: -40px;
	position: relative;
	justify-content: center;
	align-items: center;
	color: #666;
	max-width: 980px;
}
.arche-footer-content {
  margin-top: -130px;
}
.arche-footer-content ul {
  padding-left: 0px !important;
}
.arche-footer p, .arche-footer a {
  color: #FFF;
  /* Paragraph Small */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}
.arche-footer-sub-title {
  font-family: Lato;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 28px !important;
}
.arche-footer h4 {
  color: #FFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.arche-footer {
  position: relative;
  color: #fff;
  padding: 2rem 0;
  background-color: #069;
  padding-top: 0px;
  margin: 0px;
}
.arche-footer .container {
  position: relative;
}
.arche-footer h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.5;
}
.arche-footer .links li a {
  color: #fff;
}
.arche-footer .links li a:hover {
  color: #fff;
}
.arche-footer .social li {
  display: inline-block;
  position: relative;
}
.arche-footer .social li a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #8186d5;
  color: #fff;
}
.arche-footer .social li a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.arche-footer .footer-logo {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.arche-footer .copyright {
  color: #666873;
}

  .resources-container-home {
	background-image: url("/browser/images/common/resource_bottom_bubble.svg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
  padding-top:  3rem;
  padding-bottom: 3rem;
}

.mission-container-home {
  background-image: url("/browser/images/common/mission_bottom_bubble.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 60px;
  padding-bottom: 150px;
  background-color: #F8F9FA;
}
.mission-container {
  display: flex;
  padding: 24px;
  align-items: flex-start;
  border: 1px solid #e1e1e1;
  border-radius: 12px;
  background: #fff;
  max-width: 980px;
  gap: 24px;
  flex-direction: column;
}

.mission-main-img {
  border-radius: 16px;
}
.mission-container .section-header-title-small, .mission-container .section-header-title {
  text-align: left;
}
.mission-container .lead {
  color: #666;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.background-image-div, .background-image-front-div {
  position: relative;
}
.background-image-div::before, .background-image-div::after, .background-image-front-div::before, .background-image-front-div::after {
  content: "";
  position: absolute;
  width: 250px;
  /* Adjust the width of the logos */
  height: 250px;
  /* Adjust the height of the logos */
}
.background-image-div::before, .background-image-front-div::before {
  top: 0;
  left: 0;
  background-image:url("/browser/images/common/top-left-cloud.svg");
  /* Replace with your top logo */
  background-size: cover;
  z-index: 0;
  width: 204px;
  height: 238px;
}
.background-image-div::after {
  bottom: 0;
  right: 0;
  background-image: url("/browser/images/common/bottom-right-cloud.png");
  /* Replace with your bottom logo */
  background-size: cover;
  z-index: 0;
}
.background-image-front-div::after {
  bottom: 0;
  right: 0;
  background-image: url("/browser/images/common/bottom-right-cloud.png");
  /* Replace with your bottom logo */
  background-size: cover;
  z-index: 0;
}


.cards-container {
  padding-bottom: 100px;
}


.accordion-static {
  margin: 20px auto;
  font-family: Arial, sans-serif;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  color: #666;
  font-weight: 700;
}
.accordion-static-header .accordion-static-button {  
  color: #666;
  font-weight: 700;
}
.accordion-static-body {
  color: #666;
  font-weight: 500;
}

details {
  border-bottom: 1px solid #e1e1e1;
}

details:last-of-type {
  border-bottom: none;
}

details[open] summary {
background-color: #4796b5 !important;

}
.static-acc-title {
  font-weight: 700;
}
details[open] summary .static-acc-title {
  color: white;
  
}

summary {
  font-weight: 600;
  list-style: none;
}

details p {
  padding: 12px 16px;
  margin: 0;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
}


  .btn-detail-type-gray {
	border-radius: 12px ;
	background: #5B595B ;
	color: #fff;
	text-align: center;
	font-family: Lato;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
	display: flex;
	padding: 4px 8px;
	align-items: flex-start;
	gap: 8px;
	margin-bottom: 0px;
}

.facet-title {
	color: black !important;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}


@layer utilities {
  /* Hide ALL scrollbars (while keeping scrollable) */
  .no-scrollbar {
    -ms-overflow-style: none;     /* IE/Edge legacy */
    scrollbar-width: none;        /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;                /* Chrome/Safari */
  }
 
}

@layer components {

.btn-toolbar-public { background-color:#1dd1a1; color:#fff; }
.btn-toolbar-academic { background-color:#ff9f43; color:#fff; }
.btn-toolbar-restricted { background-color:#ee5253; color:#fff; }
.btn-toolbar-public-academic { background: #1dd1a1; background: linear-gradient(90deg, #1dd1a1 0%, #ff9f43 100%);  color:#fff; }
.btn-toolbar-academic-public { background: #ff9f43; background: linear-gradient(90deg, #ff9f43 0%, #1dd1a1 100%); color:#fff;  }
.btn-toolbar-public-restricted {
    background: linear-gradient(90deg, #1dd1a1 0%, #ee5253 100%);
    color: #fff;
  }
  .btn-toolbar-restricted-public {
    background: linear-gradient(90deg, #ee5253 0%, #1dd1a1 100%);
    color: #fff;
  }
  .btn-toolbar-academic-restricted {
    background: linear-gradient(90deg, #ff9f43 0%, #ee5253 100%);
    color: #fff;
  }
  .btn-toolbar-restricted-academic {
    background: linear-gradient(90deg, #ee5253 0%, #ff9f43 100%);
    color: #fff;
  }


  .btn-arche-blue {    
    font-size: 16px;
    padding: 10px 16px;
    gap: 8px; 
    border-radius: 6px;
    background-color: #3B89AD;
    width: fit-content;
    text-decoration: none;
  }

  a.btn-arche-blue  {
    color: white !important;
    text-decoration: none;
  }

  a.btn-arche-blue:hover {
      background-color: rgba(59, 137, 173, 0.5);
    text-decoration: none;
    color: white;
  }

  .table-row-acdhBlue {
    background-color: #88dbdf;
  }

  @layer components {
  /* Basic .table equivalent */
  #filenames-formats-dynamic-table table,
  #metadata-table table {
    
    @apply w-full text-left text-sm text-gray-900;
    border-collapse: collapse; /* can't use @apply for this */
  }

  #filenames-formats-dynamic-table table thead,
  #metadata-table table thead {
    @apply align-bottom;
  }

  #filenames-formats-dynamic-table table th,
  #metadata-table table th,
  #filenames-formats-dynamic-table table td,
  #metadata-table table td {
    @apply px-3 py-2 align-top border-b border-gray-200;
  }

  /* Thicker bottom border for header – like Bootstrap */
  #filenames-formats-dynamic-table table thead th ,
  #metadata-table table thead th
  {
    @apply border-b-2 border-gray-300;
  }

}

  #filenames-formats-dynamic-table table,
  #metadata-table table {
    width: 100%;
    margin-top: 20px;
  }

  a.header-nav-text {
    color: #5B595B !important;
  }
  
  a.header-nav-text:hover {
    color: rgba(91, 89, 91, 0.4) !important;
  }

.home-resources-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.home-resources-images {
  max-width: 165px;
  padding-top: 12px;
}
.home-resources-title h5 {
  text-align: center !important;
}
.home-resources-text {
  text-align: center;
}
.arche-home-collections-slider {
  background-color: #F8F9FA;
}


.arche-footer-content {
  margin-top: -130px;
}
.arche-footer-content ul {
  padding-left: 0px !important;
}
.arche-footer p, .arche-footer a {
  color: #FFF;
  /* Paragraph Small */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}
.arche-footer-sub-title {
  font-family: Lato;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 28px !important;
}
.arche-footer h4 {
  color: #FFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.arche-footer {
  position: relative;
  color: #fff;
  padding: 2rem 0;
  background-color: #069;
  padding-top: 150px;
  margin-top: 40px;
}
.arche-footer .container {
  position: relative;
}
.arche-footer h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.5;

}
.arche-footer .links li a {
  color: #fff;
}
.arche-footer .links li a:hover {
  color: #fff;
}
.arche-footer .social li {
  display: inline-block;
  position: relative;
}
.arche-footer .social li a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #8186d5;
  color: #fff;
}
.arche-footer .social li a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.arche-footer .footer-logo {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.arche-footer .copyright {
  color: #666873;
}
.contact-us-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.cta-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.cta-item {
  flex: 1 0;
  display: flex;
  flex-direction: row;
}
.cta-item.text {
  flex: 1;
}
.cta-item.button {
  flex: 0;
  align-self: flex-start;
}
.container-w980 {
  max-width: 980px !important;
}
.arche-footer .cta {
  padding: 24px;
  border-radius: 12px;
  border: 2px solid #e1edf3;
  background: #FFF;
  top: -60px;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #666;
  max-width: 980px;
}
.cta-item {
  color: #666 !important;
  font-family: Lato !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}
.arche-footer .cta h2, .arche-footer .cta h3 {
  line-height: 1.5;
}
.arche-footer .cta h3 {
  font-size: 20px;
  color: hwb(210 12.9% 83.9%);
}
.arche-footer::before, .arche-footer::after {
  content: "";
  position: absolute;
  width: 250px;
  /* Adjust the width of the logos */
  height: 250px;
  /* Adjust the height of the logos */
}
.arche-footer::before {
  top: 0;
  right: 0;
  background-image: url("/browser/images/common/footer_top_right_bubble.svg");
  /* Replace with your top logo */
  background-size: cover;
  z-index: 0;
  width: 204px;
  height: 238px;
}
.arche-footer::after {
  bottom: 0;
  left: 0;
  background-image: url("/browser/images/common/footer_left_bottom_bubble.svg");
  /* Replace with your bottom logo */
  background-size: cover;
  z-index: 0;
}
.arche-footer .cta h3 {
  font-size: 20px !important;
}

.basic-arche-btn {
  display: flex;
  width: 100%;
  padding: 10px 16px;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  background: #3B89AD;
  margin-top: auto;
  color: #FFF !important;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  border-radius: 0.375rem;
}
.basic-arche-btn:hover {
  background-color: rgba(59, 137, 173, 0.8);
}

  .basic-inside-content-div {
	display: flex;
	padding: 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
	border-radius: 12px;
	background: #EEF5F8;
}







}

