@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

@import "tailwindcss";


body {
  color: var(--Grey, #5B595B);

  /* Paragraph */
  font-family: 'Lato', 'Roboto', 'Helvetica Neue', Arial, sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  
}

a {
  color: #4F8CA5;
}
a:hover {
  text-decoration: underline;
}

h4 {
	
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

  h5 {
	color: #333;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h6 {
  color: 212529;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer a {
  color: white;
}

input {
  border: 1px solid #e1e1e1;
  padding: 10px;
}
.placeholder {
  background-color: transparent;
}

/* WebKit browsers (Chrome, Safari, Opera) */
input::placeholder {
  opacity: 0.3;
  /* Ensures full opacity */
}
/* Mozilla Firefox */
input::-moz-placeholder {
  opacity: 0.3;
  /* Ensures full opacity */
}
/* Internet Explorer 10-11 */
input:-ms-input-placeholder {
  opacity: 0.3;
  /* Ensures full opacity */
}
/* Microsoft Edge */
input::-ms-input-placeholder {
  opacity: 0.3;
  /* Ensures full opacity */
}
.form-control::placeholder {
  opacity: 0.3;
}