@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

@import "tailwindcss";

@theme {
  --color-arche-green: #58bcc1;
  --color-arche-blue:  #3b89ad;
  --color-arche-gray:  #5b595b;
  --color-arche-red:   #dc3545;
}

body {
  color: var(--Grey, #5B595B);

  /* Paragraph */
  font-family: 'Lato', 'Roboto', 'Helvetica Neue', Arial, sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  
}

a {
  color: #4F8CA5;
}
a:hover {
  text-decoration: none;
}

h4 {
	
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

  h5 {
	color: #333;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h6 {
  color: 212529;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer a {
  color: white;
}

input {
  border: 1px solid #e1e1e1;
  padding: 10px;
}
.placeholder {
  background-color: transparent;
}

/* WebKit browsers (Chrome, Safari, Opera) */
input::placeholder {
  opacity: 0.3;
  /* Ensures full opacity */
}
/* Mozilla Firefox */
input::-moz-placeholder {
  opacity: 0.3;
  /* Ensures full opacity */
}
/* Internet Explorer 10-11 */
input:-ms-input-placeholder {
  opacity: 0.3;
  /* Ensures full opacity */
}
/* Microsoft Edge */
input::-ms-input-placeholder {
  opacity: 0.3;
  /* Ensures full opacity */
}
.form-control::placeholder {
  opacity: 0.3;
}



@layer components {
.btn-toolbar-public { background-color:#1dd1a1; color:#fff; }
.btn-toolbar-academic { background-color:#ff9f43; color:#fff; }
.btn-toolbar-restricted { background-color:#ee5253; color:#fff; }
.btn-toolbar-public-academic { background: #1dd1a1; background: linear-gradient(90deg, #1dd1a1 0%, #ff9f43 100%);  color:#fff; }
.btn-toolbar-academic-public { background: #ff9f43; background: linear-gradient(90deg, #ff9f43 0%, #1dd1a1 100%); color:#fff;  }
.btn-toolbar-public-restricted {
    background: linear-gradient(90deg, #1dd1a1 0%, #ee5253 100%);
    color: #fff;
  }
  .btn-toolbar-restricted-public {
    background: linear-gradient(90deg, #ee5253 0%, #1dd1a1 100%);
    color: #fff;
  }
  .btn-toolbar-academic-restricted {
    background: linear-gradient(90deg, #ff9f43 0%, #ee5253 100%);
    color: #fff;
  }
  .btn-toolbar-restricted-academic {
    background: linear-gradient(90deg, #ee5253 0%, #ff9f43 100%);
    color: #fff;
  }

  .btn-arche-blue {
    
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 8px; 
    border-radius: 6px;
    background-color: #3B89AD;
    width: fit-content;
    text-decoration: none;

  }
  a.btn-arche-blue  {
    color: white !important;
    text-decoration: none;
  }

  a.btn-arche-blue:hover {
    background-color: #5CA3C6;
    text-decoration: none;
  }
  



}

